gov-uk-extended-palette.css

/* Taken from - https://govuk-elements.herokuapp.com/colour/ */


.purple { color: #2e358b; }
.bg-purple { background-color: #2e358b; }
.b--purple { border-color: #2e358b; }
.hover-purple:hover,
.hover-purple:focus { color: #2e358b; }
.hover-bg-purple:hover,
.hover-bg-purple:focus { background-color: #2e358b; }

.mauve { color: #6f72af; }
.bg-mauve { background-color: #6f72af; }
.b--mauve { border-color: #6f72af; }
.hover-mauve:hover,
.hover-mauve:focus { color: #6f72af; }
.hover-bg-mauve:hover,
.hover-bg-mauve:focus { background-color: #6f72af; }

.fuschia { color: #912b88; }
.bg-fuschia { background-color: #912b88; }
.b--fuschia { border-color: #912b88; }
.hover-fuschia:hover,
.hover-fuschia:focus { color: #912b88; }
.hover-bg-fuschia:hover,
.hover-bg-fuschia:focus { background-color: #912b88; }

.pink { color: #d53880; }
.bg-pink { background-color: #d53880; }
.b--pink { border-color: #d53880; }
.hover-pink:hover,
.hover-pink:focus { color: #d53880; }
.hover-bg-pink:hover,
.hover-bg-pink:focus { background-color: #d53880; }

.baby-pink { color: #f499be; }
.bg-baby-pink { background-color: #f499be; }
.b--baby-pink { border-color: #f499be; }
.hover-baby-pink:hover,
.hover-baby-pink:focus { color: #f499be; }
.hover-bg-baby-pink:hover,
.hover-bg-baby-pink:focus { background-color: #f499be; }

.red { color: #b10e1e; }
.bg-red { background-color: #b10e1e; }
.b--red { border-color: #b10e1e; }
.hover-red:hover,
.hover-red:focus { color: #b10e1e; }
.hover-bg-red:hover,
.hover-bg-red:focus { background-color: #b10e1e; }

.mellow-red { color: #df3034; }
.bg-mellow-red { background-color: #df3034; }
.b--mellow-red { border-color: #df3034; }
.hover-mellow-red:hover,
.hover-mellow-red:focus { color: #df3034; }
.hover-bg-mellow-red:hover,
.hover-bg-mellow-red:focus { background-color: #df3034; }

.orange { color: #f47738; }
.bg-orange { background-color: #f47738; }
.b--orange { border-color: #f47738; }
.hover-orange:hover,
.hover-orange:focus { color: #f47738; }
.hover-bg-orange:hover,
.hover-bg-orange:focus { background-color: #f47738; }

.brown { color: #b58840; }
.bg-brown { background-color: #b58840; }
.b--brown { border-color: #b58840; }
.hover-brown:hover,
.hover-brown:focus { color: #b58840; }
.hover-bg-brown:hover,
.hover-bg-brown:focus { background-color: #b58840; }

.yellow { color: #ffbf47; }
.bg-yellow { background-color: #ffbf47; }
.b--yellow { border-color: #ffbf47; }
.hover-yellow:hover,
.hover-yellow:focus { color: #ffbf47; }
.hover-bg-yellow:hover,
.hover-bg-yellow:focus { background-color: #ffbf47; }

.green { color: #006435; }
.bg-green { background-color: #006435; }
.b--green { border-color: #006435; }
.hover-green:hover,
.hover-green:focus { color: #006435; }
.hover-bg-green:hover,
.hover-bg-green:focus { background-color: #006435; }

.grass-green { color: #85994b; }
.bg-grass-green { background-color: #85994b; }
.b--grass-green { border-color: #85994b; }
.hover-grass-green:hover,
.hover-grass-green:focus { color: #85994b; }
.hover-bg-grass-green:hover,
.hover-bg-grass-green:focus { background-color: #85994b; }

.turquoise { color: #28a197; }
.bg-turquoise { background-color: #28a197; }
.b--turquoise { border-color: #28a197; }
.hover-turquoise:hover,
.hover-turquoise:focus { color: #28a197; }
.hover-bg-turquoise:hover,
.hover-bg-turquoise:focus { background-color: #28a197; }

.light-blue { color: #2b8cc4; }
.bg-light-blue { background-color: #2b8cc4; }
.b--light-blue { border-color: #2b8cc4; }
.hover-light-blue:hover,
.hover-light-blue:focus { color: #2b8cc4; }
.hover-bg-light-blue:hover,
.hover-bg-light-blue:focus { background-color: #2b8cc4; }

.blue { color: #005ea5; }
.bg-blue { background-color: #005ea5; }
.b--blue { border-color: #005ea5; }
.hover-blue:hover,
.hover-blue:focus { color: #005ea5; }
.hover-bg-blue:hover,
.hover-bg-blue:focus { background-color: #005ea5; }
