/* Taken from - https://govuk-elements.herokuapp.com/colour/ */

/* Text */

.white { color: #FFFFFF; }
.bg-white { background-color: #FFFFFF; }
.b--white { border-color: #FFFFFF; }
.hover-white:hover,
.hover-white:focus { color: #FFFFFF; }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #FFFFFF; }

.black { color: #0B0C0C; }
.bg-black { background-color: #0B0C0C; }
.b--black { border-color: #0B0C0C; }
.hover-black:hover,
.hover-black:focus { color: #0B0C0C; }
.hover-bg-black:hover,
.hover-bg-black:focus { background-color: #0B0C0C; }

.grey-1 { color: #6F777B; }
.bg-grey-1 { background-color: #6F777B; }
.b--grey-1 { border-color: #6F777B; }
.hover-grey-1:hover,
.hover-grey-1:focus { color: #6F777B; }
.hover-bg-grey-1:hover,
.hover-bg-grey-1:focus { background-color: #6F777B; }


/* Backgrounds */

.grey-2 { color: #BFC1C3; }
.bg-grey-2 { background-color: #BFC1C3; }
.b--grey-2 { border-color: #BFC1C3; }
.hover-grey-2:hover,
.hover-grey-2:focus { color: #BFC1C3; }
.hover-bg-grey-2:hover,
.hover-bg-grey-2:focus { background-color: #BFC1C3; }

.grey-3 { color: #DEE0E2; }
.bg-grey-3 { background-color: #DEE0E2; }
.b--grey-3 { border-color: #DEE0E2; }
.hover-grey-3:hover,
.hover-grey-3:focus { color: #DEE0E2; }
.hover-bg-grey-3:hover,
.hover-bg-grey-3:focus { background-color: #DEE0E2; }

.grey-4 { color: #F8F8F8; }
.bg-grey-4 { background-color: #F8F8F8; }
.b--grey-4 { border-color: #F8F8F8; }
.hover-grey-4:hover,
.hover-grey-4:focus { color: #F8F8F8; }
.hover-bg-grey-4:hover,
.hover-bg-grey-4:focus { background-color: #F8F8F8; }


/* Links */

.blue { color: #005ea5; }
.bg-blue { background-color: #005ea5; }
.b--blue { border-color: #005ea5; }
.hover-blue:hover,
.hover-blue:focus { color: #005ea5; }
.hover-bg-blue:hover,
.hover-bg-blue:focus { background-color: #005ea5; }

.light-blue { color: #2b8cc4; }
.bg-light-blue { background-color: #2b8cc4; }
.b--light-blue { border-color: #2b8cc4; }
.hover-light-blue:hover,
.hover-light-blue:focus { color: #2b8cc4; }
.hover-bg-light-blue:hover,
.hover-bg-light-blue:focus { background-color: #2b8cc4; }

.purple { color: #4c2c92; }
.bg-purple { background-color: #4c2c92; }
.b--purple { border-color: #4c2c92; }
.hover-purple:hover,
.hover-purple:focus { color: #4c2c92; }
.hover-bg-purple:hover,
.hover-bg-purple:focus { background-color: #4c2c92; }


/* Buttons */

.green { color: #00823B; }
.bg-green { background-color: #00823B; }
.b--green { border-color: #00823B; }
.hover-green:hover,
.hover-green:focus { color: #00823B; }
.hover-bg-green:hover,
.hover-bg-green:focus { background-color: #00823B; }

.dark-green { color: #006435; }
.bg-dark-green { background-color: #006435; }
.b--dark-green { border-color: #006435; }
.hover-dark-green:hover,
.hover-dark-green:focus { color: #006435; }
.hover-bg-dark-green:hover,
.hover-bg-dark-green:focus { background-color: #006435; }


/* Status */

.yellow { color: #ffbf47; }
.bg-yellow { background-color: #ffbf47; }
.b--yellow { border-color: #ffbf47; }
.hover-yellow:hover,
.hover-yellow:focus { color: #ffbf47; }
.hover-bg-yellow:hover,
.hover-bg-yellow:focus { background-color: #ffbf47; }

.red { color: #B10E1E; }
.bg-red { background-color: #B10E1E; }
.b--red { border-color: #B10E1E; }
.hover-red:hover,
.hover-red:focus { color: #B10E1E; }
.hover-bg-red:hover,
.hover-bg-red:focus { background-color: #B10E1E; }

